*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:yellow;
    height: 5rem;
    line-height: 5rem;
    font-size: 60px;
}
.choice{
    height:200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    opacity: 60%;
    cursor: pointer;
    background-color:black;
}
#scissors {
  transform: scale(1) rotate(68deg);
  object-position: center;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}
#userScore,#computerScore{
    font-size: 5rem;
}
.msgContainer{
    margin-top: 5rem;
}
#msg{
    margin-top: 2rem;
    background-color: red;
    font-size: xx-large;
    display: inline;
    padding: 1rem;
    border-radius:1rem;;
}